<section class="d-flex flex-column">
  <h1>Foods</h1>
  <%= link_to "New Food", new_user_food_path, class: "align-self-end btn-solid my-3" %>    
  <%= render partial: "foods_table" %>
</section>
 


