<h1><%= @food.name %></h1>
<p><%= @food.price %></p>
<%# <ul>
  <li><%= link_to "Destroy", [@food.user, @food], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
 %>
